:root {
  --header-height: 3.5rem;
  --header-color: #442222;
  --bg-color: #211;
  --topping-size: 14%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #ccc;
}

a {
  color: rgb(168, 120, 120);
}

button, input, select, label {
  cursor: pointer;
}

button {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  min-height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

header > h1 {
  font-size: 1.75rem;
  width: max-content;
  transform-origin: left;
  transition: transform 400ms ease;
}

header.ordering > h1 {
  transform: scale(0.7);
}

main {
  background-color: var(--header-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 900ms ease;
}

#start-order-button {
  margin: 2rem;
}

main.ordering {
  background-color: var(--bg-color);
}

main.ordering > #start-order-button {
  display: none;
}

#pizza-controls {
  background-color: var(--header-color);
  display: none;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 2rem;
}

#pizza-controls > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#size-radio-area,
#topping-checkbox-area {
  display: flex;
  flex-direction: column;
}

.checkbox-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-header {
  background-color: #00000033;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-header, .header-price-display {
  width: 100%;
  padding: 0.25rem 0.95rem;
}

.header-price-display {
  width: 100%;
  padding: 0.25rem 0;
}

.size-price-grid {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 0.25rem;
  color: rgb(193, 245, 193);
}

.inline-price {
  font-size: 1.2rem;
  color: rgb(193, 245, 193);
}

#size-radio-area > div,
#topping-checkbox-area .checkbox-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.size-radio-row, .checkbox-row {
  padding: 0.5rem;
}

.checkbox-row:nth-child(even),
.size-radio-row:nth-child(even) {
  background-color: #00000011;
}

.checkbox-row:last-child {
  margin-bottom: 1rem;
}

#size-radio-area {
  align-self: stretch;
}

#size-radio-area input,
#topping-checkbox-area input {
  width: 2rem;
  height: 2rem;
}

#size-radio-area label, .checkbox-row > label {
  flex-grow: 1;
}

#crust-select {
  font-size: 1.25rem;
  width: 100%;
  height: 4rem;
  padding-left: 0.5rem
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form > #option-input-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  min-width: 60vmin;
}

#preview-area {
  position: relative;
  width: 100%;
  height: 100vw;
  display: none;
  overflow: hidden;
}

.preview-pizza {
  background-image: url("../images/blankpizza.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 90vw;
  height: 90vw;
}

.topping {
  position: absolute;
  width: var(--topping-size);
  height: var(--topping-size);
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center;
  background-position: center;
}

#invoice-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

#invoice-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
}

.invoice {
  background-color: rgb(4, 5, 4);
  color: #aaa;
  margin: 1rem;
}

.invoice-header {
  background-color: rgb(40, 46, 31);
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.invoice-row, #grand-total-row {
  display: flex;
  justify-content: space-between
}

.invoice-title {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.invoice-list {
  max-width: 12rem;
  margin: 0 2.5rem 0.5rem 2rem;
}

.invoice-row > .invoice-row-price:not(.total) {
  font-weight: normal;
}

#grand-total-row {
  font-weight: bold;
  background-color: rgb(27, 78, 24);
  width: 100%;
  padding: 1rem;
  display: none;
}

#total-price-display {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--header-color);
  color: rgb(173, 232, 162);
  height: var(--header-height);
  width: 9rem;
  min-width: 9rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateX(100%);
  transition: transform 400ms ease;
  z-index: 1;
}

main.ordering > #total-price-display {
  transform: unset;
}

main.ordering #preview-area, 
main.ordering > #pizza-controls, 
main.ordering #grand-total-row {
  display: flex;
}

footer {
  width: 100vw;
  height: calc(var(--header-height) * 0.5);
  background-color: var(--header-color);
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form > #option-input-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    min-width: 18rem;
    flex-grow: 1;
  }

  #pizza-controls {
    margin: 0;
  }

  #output-area {
    flex-grow: 1;
    height: 100%;
    align-self: flex-start;
    opacity: 0;
    transition: opacity 600ms ease;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  main.ordering #output-area {
    opacity: 1;
  }

  #preview-area {
    display: block;
    height: unset;
    scale: 0;
    transition: scale 400ms ease;
  }

  main.ordering #preview-area {
    scale: 1;
  }
  
  .preview-pizza {
    position: relative;
    width: 80%;
    max-width: 36rem;
    max-height: 36rem;
    margin: 3rem;
  }

  .invoice-list {
    max-width: 85%;
    margin: 0 2.5rem 0.5rem 2rem;
  }

  #start-order-button {
    position: absolute;
    width: 16rem;
    height: 6rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}