:root {
  --header-height: 3.5rem;
  --header-color: #422;
  --bg-color: #211;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #ccc;
}

a {
  color: rgb(168, 120, 120);
}

button {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  min-height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

header > h1 {
  font-size: 1.75rem;
  width: max-content;
  transform-origin: left;
  transition: transform 400ms ease;
}

header.ordering > h1 {
  transform: scale(0.7);
}

main {
  background-color: var(--header-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 900ms ease;
}

#start-order-button {
  margin: 2rem;
}

main.ordering {
  background-color: var(--bg-color);
}

main.ordering > #start-order-button {
  display: none;
}

#pizza-controls {
  background-color: gray;
  display: none;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 2rem;
}

#pizza-controls > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#size-radio-area,
#topping-checkbox-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.checkbox-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.input-header {
  background-color: #00000033;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-header, .header-price-display {
  width: 100%;
  padding: 0.25rem 0.95rem;
}

.header-price-display {
  width: 100%;
  padding: 0.25rem 0;
}

.size-price-grid {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 0.25rem;
  color: rgb(215, 226, 215);
}

#size-radio-area > div,
#topping-checkbox-area .checkbox-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.checkbox-row:last-child {
  margin-bottom: 1rem;
}

#size-radio-area {
  align-self: stretch;
}

#size-radio-area input,
#topping-checkbox-area input {
  width: 2rem;
  height: 2rem;
}

#size-radio-area label {
  flex-grow: 1;
}

#crust-select {
  font-size: 1.25rem;
  width: 100%;
  height: 4rem;
  padding-left: 0.5rem
}

.inline-price {
  font-size: 1.2rem;
  color: rgb(215, 226, 215);
}

select {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form > #option-input-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  min-width: 60vmin;
}

#preview-area {
  width: 100%;
  height: 100vw;
  display: none;
}

#preview-pizza {
  position: relative;
  background-image: url("../images/blankpizza.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 90vw;
  height: 90vw;
  overflow: hidden;
}

.topping {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 0;
  top: 20%;
  background-size: cover;
  transform-origin: center;
  z-index: 12;
}

#invoice-container {
  display: flex;
  flex-direction: column;
}

#invoice-area {
  background-color: #232;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.invoice {
  background-color: rgb(4, 5, 4);
  color: #aaa;
  margin: 1rem;
}

.invoice-header {
  background-color: rgb(40, 46, 31);
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.invoice-row, #grand-total-row {
  display: flex;
  justify-content: space-between
}

.invoice-title {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.invoice-list {
  width: 60%;
  margin: 0 2.5rem 0.5rem 2.5rem;
}

.invoice-row > .invoice-row-price:not(.total) {
  font-weight: normal;
}

.invoice-row.sublist {
  font-weight: normal;
  padding-left: 1.5rem;
}

#grand-total-row {
  font-weight: bold;
  background-color: rgb(27, 78, 24);
  width: 100%;
  padding: 1rem;
  display: none;
}

main.ordering #grand-total-row {
  display: flex;
}

#total-price-display {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--header-color);
  color: rgb(173, 232, 162);
  height: var(--header-height);
  width: 9rem;
  min-width: 9rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateX(100%);
  transition: transform 400ms ease;
}

main.ordering > #total-price-display {
  transform: unset;
}

main.ordering #preview-area {
  display: flex;
}

main.ordering > #pizza-controls {
  display: flex;
}

footer {
  width: 100vw;
  height: calc(var(--header-height) * 0.5);
  background-color: var(--header-color);
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form > #option-input-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    min-width: 18rem;
    flex-grow: 1;
  }

  #pizza-controls {
    margin: 0;
  }

  #output-area {
    flex-grow: 1;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  #preview-area {
    display: block;
    height: unset;
  }
  
  #preview-pizza {
    max-width: 30rem;
    max-height: 30rem;
    outline: solid green;
  }

  #invoice-container {
   
  }

  #invoice-area {
    
  }
}